API_ENV="development"

REDIS_HOST="127.0.0.1"
REDIS_PASS="passwordRed1S!"
REDIS_USER="default"
REDIS_PORT=6379
REDIS_DB=0

API_RUN="local"

ARISKA_API_DEV="http://fastapi:8000"
ARISKA_API_PRD="https://seudominio.dev"

DOWNLOAD_LOCAL="src/tmp"
DOWNLOAD_PATH="/app/src/tmp"

PO_TOKEN="WEB_EMBED"